* {
    margin: 0;
}

#formWrapper {
    background-color: aliceblue;
}

#formWrapper h1 {
    margin: 5px;
    text-decoration: underline;
}

form {
    display:flex;
    flex-direction: column;
    justify-content: center;
}

label {
    font-size: 30px;
    margin: 5px;
}

input {
    width: 600px;
    height: 35px;
    border-radius: 5px;
    margin: 5px;
}

.completedMeme {
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    font-size: 0;
    margin: 5px;
    transition: 0.5s;
}

.completedMeme:hover {
    color: red;
    opacity: 0.5;
}

#memesHolder {
    margin: 5px;
    display: flex;
    flex-wrap: wrap;

}

.memeTextTop {
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black;     
    font-family: Impact, sans-serif;
    position: absolute;
    top: 10px;
    text-align: center;
    width: 100%;
}

.memeTextBottom {
    font-size: 40px;
    color: white;
    -webkit-text-stroke-width: 2px; 
    -webkit-text-stroke-color: black;     
    font-family: Impact, sans-serif;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%
}

.memeImage {
    max-width: 100%;
}